@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CAR RENTAL</h1>
    <p class="lead">CarRental - completly new place to rent a perfect car!</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            To rent a car, you must register your account.
        </p>
        <p><a class="btn btn-default" href="/Customers/Create">Registration &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Get a car</h2>
        <p>If you want to look for your perfect car click below.</p>
        <p><a class="btn btn-default" href="/Cars">View Cars &raquo;</a></p>
    </div>
   
</div>